name: Build

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-modern:
    name: Build (ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --locked

  build-glibc-2-17:
    name: Build (glibc 2.17)
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux2014_x86_64
    steps:
      - name: Install build dependencies
        run: |
          yum -y install curl gcc gcc-c++ git make openssl-devel pkgconfig

      - name: Checkout (manual git)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git init .
          git config --global --add safe.directory /__w/noil/noil
          git remote add origin "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          git fetch --depth=1 origin "${GITHUB_SHA}"
          git checkout FETCH_HEAD

      - name: Install Rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --profile minimal
          source "$HOME/.cargo/env"
          rustup default stable

      - name: Build
        run: |
          source "$HOME/.cargo/env"
          export CXXFLAGS='-D_GLIBCXX_USE_CXX11_ABI=1 -DDUCKDB_PLATFORM="linux_amd64"'
          cargo build --locked
